@font-face {
	font-family: 'Ebrima-bold';
	src: url(../fonts/ebrima-bold.ttf);
}
@font-face {
	font-family: 'Ebrima-regular';
	src: url(../fonts/ebrima-regular.ttf);
}
@font-face {
	font-family: 'Tahoma-bold';
	src: url(../fonts/tahoma-bold.TTF);
}

@media all and (-webkit-min-device-pixel-ratio: 3) and (hover: none) and (pointer: coarse) and (prefers-color-scheme: dark) {
	body {
		background-color: #fff;
	}
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--light-gray: rgba(255, 255, 255, 0.808);
	--lightest-green: #a4d950;
	--very-light-green: #bddc31;
	--light-green: #94d231;
	--green: #38813b;
	--dark-green: #38753b;
	--button-hover: #acc92f;
	--plate: rgb(212, 255, 165);
}

html {
	font-family: 'Ebrima-regular', sans-serif;
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 40px;
}

body {
	font-size: 1.6rem;
	min-height: 100vh;
	background-color: #fff;
}

textarea:focus,
input:focus {
	outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

a {
	text-decoration: none;
	color: #fff;
}

ul {
	list-style-type: none;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8rem;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	overflow: hidden;
}

p {
	font-size: 1.5rem;
}

.visible {
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.invisible {
	opacity: 0;
}

.hidden {
	display: none;
}

.active {
	display: flex;
}

.wrapper {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10%;
	overflow-x: hidden;
}

.wrapper-nav {
	padding: 0;
}

.title-wrapper {
	width: 80%;
}

.title {
	text-align: center;
	margin-bottom: 5rem;
	padding-bottom: 1rem;
	border-bottom: 2px solid var(--light-green);
	font-family: 'Ebrima-bold', sans-serif;
	color: var(--light-green);
	text-transform: uppercase;
}

.plot-area {
	cursor: pointer;
}

@media (min-width: 768px) {
	.title-wrapper {
		width: 70%;
	}
}

@media (min-width: 992px) {
	.wrapper {
		max-width: 1800px;
	}
	.title-wrapper {
		width: 65%;
	}
}
